# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
staticfiles/
media/
*.log

# Environment / secrets
.env
.env.*
local_settings.py

# Virtual environment
venv/
env/
.venv/
# venv installed directly in project root
Lib/
Scripts/
Include/
pyvenv.cfg

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
